body {
   background: #1a353d;
   background: linear-gradient(90deg, rgba(26, 53, 61, 1) 0%, rgba(24, 74, 43, 1) 50%, rgba(79, 72, 47, 1) 100%);
}

.title{
  width: calc(100% - 40px); /* makes room for 20px left + 20px right */
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: darkorange;
  justify-content: center;
  text-align: center;
  font-size: 1.3em;
  margin: 0 20px;
  border-radius: 10px;
  border-color: gray;
  border: 1px solid gray;
  color: darkolivegreen;

}

.title a {
  text-decoration: none;
  color: inherit;
}
.title:hover {

    background-color: crimson;
    color:whitesmoke;
    transition: 400ms;
}

/*
.quote {
    width: calc(100% - 40px);
    height: 90px;
    font-size: 1.8em;
    border-radius:10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: auto;
    display: flex;
    color: darkred;
    background-color: rgb(169, 199, 198);
    margin: 30px 20px;
}
*/

.intro {
    width: calc(100% - 40px);
    height: 90px;
    font-size: 1.8em;
    border-radius:10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: auto;
    display: flex;
    color: darkred;
    background-color: rgb(169, 199, 198);
    margin: 30px 20px;
}
.flex-recipes{
  display: flex;
  flex-direction: column;   /* small screens: vertical */
  gap: 16px;
  width: 100%;
}

.card{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  background-color: #ccc
}

.card a{
  color:rgb(225, 34, 9);
  font-size: 1.5em;
  font-weight: bold;
  /* text-decoration: */
  text-align: center;
}
.card a:hover {
  color: whitesmoke;
  transition: 400ms;
}
@media (min-width: 1024px){
  .flex-recipes{
    flex-direction: row; /* side-by-side */
  }

  .card{
    flex: 1;      /* equal widths */
    min-width: 0; /* prevents overflow weirdness */
  }
  
  .card-emoji{
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
}
